<div class="p-mb-3 p-text-bold">Create item</div>

<form name="registerForm" [formGroup]="registerItemForm" (ngSubmit)="onSubmitItem()" #formDirective="ngForm">
    <span class="p-float-label">
        <input formControlName="aboutForm" placeholder="About" pInputText>  
    </span>

    <span class="p-float-label">
        <input formControlName="accessURLForm" placeholder="Acces URL" pInputText>     
    </span>

    <span class="p-float-label">
        <input formControlName="titleForm" placeholder="Title" pInputText> 
    </span>

    <div class="example-button-row">
        <button pButton (click)="onSubmitItem()" type="submit" mat-raised-button color="primary">Guardar</button>
    </div>

</form>
