
<div class="p-mb-3 p-text-bold">Edit item</div>
<form action="" name="registerForm" [formGroup]="registerItemForm" (ngSubmit)="onSubmitDetail()"  #formDirective="ngForm">
    <span class="p-float-label">
        <input formControlName="aboutForm" placeholder="About" pInputText> 
        
    </span>

    <span class="p-float-label">
        <input formControlName="accessURLForm" placeholder="Acces URL" pInputText > 
        
    </span>

    <span class="p-float-label">
        <input formControlName="titleForm" placeholder="Title" pInputText> 
        
    </span>

    <div class="example-button-row">
        <button pButton (click)="onSubmitDetail()" type="submit" mat-raised-button color="primary">Guardar</button>
    </div>

</form>
